



  video#whole {
  min-width: 100%;
  background: url(../images/indexstill.jpg) no-repeat;}

video#evo{position: absolute;
  z-index: 2;
  margin-top: -30%
}


#insidevideo{margin-top: 1%;
  margin-left: 32%;
 width: 550px;}

#videohead{width:100%;
    position: absolute;
  left: 0px;
  top: 0px;
  height: 400px;
  width:100%;
  overflow: hidden;
}


nav{position: relative;
      height: 4%;
      margin-top: 27%;}



footer{
  margin-top: 30%;}


img{border-radius: 10px;}


td{
  border-left: 10px solid white;}

th{font-size:2em;}

table{
    margin: 0 auto;
    font-family: 'Special Elite', cursive; color: black;}

